<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mg.sn.mill.mapper.SoftPackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mg.sn.mill.model.entity.SoftPackage">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="VERSION" property="version" />
        <result column="FORMAT" property="format" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, VERSION, FORMAT, CREATE_USER_ID, CREATE_DATE, DEL_FLAG
    </sql>

    <select id="query" resultType="com.mg.sn.mill.model.entity.SoftPackage">
        SELECT
            ID,
            NAME,
            VERSION,
            FORMAT,
            CREATE_USER_ID,
            CREATE_DATE,
            DEL_FLAG
        FROM soft_package
        WHERE 1 = 1
        <if test = "name != null and name != ''">
            AND NAME = #{name}
        </if>
        <if test = "version != null and version != ''">
            AND VERSION = #{version}
        </if>
        <if test = "format != null and format != ''">
            AND FORMAT = #{format}
        </if>
        <if test = "delFlag != null and delFlag != ''">
            AND DEL_FLAG = #{delFlag}
        </if>
    </select>

</mapper>
